@model RegistrationViewModel

@using (Html.BeginForm("Registration", "Home", FormMethod.Post))
{
        <div>
        @Html.LabelFor(m => m.Login)
        @Html.TextBoxFor(m => m.Login)
        @Html.ValidationMessageFor(m => m.Login)
        </div >

        <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div>
        @Html.LabelFor(m => m.SecondName)
        @Html.TextBoxFor(m => m.SecondName)
        @Html.ValidationMessageFor(m => m.SecondName)
        </div>

        <div>
        @Html.LabelFor(m => m.JobTittle)
        @Html.TextBoxFor(m => m.JobTittle)
        @Html.ValidationMessageFor(m => m.JobTittle)
        </div>

        <button type="submit"> Submit </button >
}